body {
  margin: 0;
  padding: 0;
}
.dialog-block {
  max-width: 800px;
  margin: 1em auto;
  padding: 0.1em 1em;
  line-height: 1.1;
  font-size: 1.1em;
  background-color: #fdfdfd;
  border-left: 3px solid #f3c258;
  border-radius: 3%;
}

main {
  margin-top: 10px;
  border-top: 1px solid rgba(0,0,0,0.15);
  padding-top: 1px;
}

section {
  padding: 5px 5px;
  max-width: 900px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
}
