{
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "proseWrap": "always",
  "trailingComma": "none",
  "bracketSpacing": true
}
